<link rel="stylesheet" href="/css/home.css">
<div id="home-h">
    <h1>Codeial / Home Page</h1>

    <% if(locals.user){ %>
        <div id="home-container">

            <section id="feed-posts">
                <h4 class="f-h">Create Posts</h4>
                <form action="/posts/create" method="post" id="new-post-form">
                    <textarea name="content" cols="30" rows="3" class="t-area" placeholder="Type Here ...."
                        required></textarea>
                    <input type="submit" value="Post" id="btn-post">
                </form>

                <br>

                <h3 id="y-posts">Your Posts</h3>
                <div class="poster">

                    <ul>
                        <% for (post of posts) {%>

                            <!-- including Posts file _posts -->

                            <%- include('_posts') -%>

                                <%}%>
                    </ul>
                </div>
            </section>
        </div>

        <section id="user-friends">
            <h4>Friends</h4>
            <% for(u of all_users) {%>
                <!-- here after doing following we have to go routes users and change :id in profile above -->
                <p>
                    <a href="/users/profile/<%= u.id %>">
                        <%= u.name %>
                    </a>
                </p>
                <%}%>
        </section>

</div>

<%}%>

    <%if(!locals.user){%>
        <div class="body">


        </div>
        <%}%>

            