<link rel="stylesheet" href="/css/profile.css">

<div class="profile">
    <h1>Codeial / Users / Profile</h1>
    <!-- following code has to be changed after video of user profile links -->
    <!-- <p> Name :  <%= user.name %> </p>
    <p> Email : <%= user.email %> </p> -->

   

    <% if(user.id == profile_user.id){ %>
        <!-- if User matches then show the form -->
        <form action="/users/update/<% profile_user.id %>" method="post" id="update-form">

            <input type="text" name="name" placeholder="Your Name" value="<% profile_user.name %>">
            <input type="email" value="<% profile_user.email%> " placeholder="Your Email" required>
            <input type="submit" value="Update">
            
        </form>

        <%} else {%>
        <!-- else show only the profile info  -->
        <p> Name :  <%= profile_user.name %> </p>
        <p> Email : <%= profile_user.email %> </p>

            <%}%>
    
</div>


