<link rel="stylesheet" href="/css/profile.css">

<div class="profile">
    <h1>Codeial / Users / Profile</h1>
    <!-- following code has to be changed after video of user profile links -->
    <!-- <p> Name :  <%= user.name %> </p>
    <p> Email : <%= user.email %> </p> -->

    <p> Name :  <%= profile_user.name %> </p>
    <p> Email : <%= profile_user.email %> </p>
    
</div>


