<link rel="stylesheet" href="/css/profile.css">

<h1 id="hh">Hello I Am Codeial/Users/Profile</h1>

<h1>TODO App</h1>

<form action="/form-data" method="post">

    <div class="outer">

        <div id="dis">

            <h3>DESCRIPTION</h3>
            <input id="disc-input" name="description" type="text" placeholder="What do you need to do?">
            <hr>

            <div class="catanddate">
                <div class="cat">
                    <h3>CATEGORY</h3>
                    <label for="cat">Choose a category</label>
                    <select name="cat" id="category">
                        <option value="Personal">Personal</option>
                        <option value="Personal">Work</option>
                        <option value="Personal">School</option>
                        <option value="Personal">Cleaning</option>
                        <option value="Personal">Other</option>
                        <option value="Personal" selected></option>
                    </select>
                </div>

                <div class="date">
                    <h3>DUE DATE</h3>
                    <input type="date" id="dateid">
                </div>
            </div>
            <hr>
        </div>


        <div class="buttons">
            <div class="addtask">
                <button id="btn"> <i class="fa-solid fa-plus" id="addicon">ADD TASK</i> </button>
            </div>

            <div class="delete">
                <button id="btn2">
                    <i class="fa-solid fa-trash">DELETE</i>
                </button>
            </div>
        </div>

        <hr>




    </div>

</form>