<link rel="stylesheet" href="/css/signin.css">

<h1 id="S-h">Sign in</h1>
<div class="formm">

        <form action="/users/create-session" method="POST" id="formss">
            <input type="email" name="email" placeholder="Email" required>
            <br>
            <input type="password" name="password" placeholder="Password" required>
            <br>
            <input type="submit" value="Sign In" class="submit" id="bttn">
            
        </form>
</div>