<link rel="stylesheet" href="/css/signup.css">
<div class="all">

    <h1 id="si-h">Sign Up</h1>
    
<form action="/users/create" method="POST">
    <input type="text" name="name" placeholder="Your Name" required>
    <br>
    <input type="email" name="email" placeholder="Your Email" required>
    <br>
    <input type="password" name="password" placeholder="Password" required>
    <br>
    <input type="password" name="confirm_password" placeholder="Confirm Password" required>
    <br>
    <input type="submit" name="submit" value="Sign Up" id="up" class="btn">
</form>


</div>