body{
    height: 100%;
    width: 100vw;
}

#home-h h1 {
    position: relative;
    top: 22px;
    color: black;
    text-align: center;
}

#feed-posts {
    display: flex;
    justify-content: center;
    position: relative;
    top: 50px;
    
}

#new-post-form{
    position: relative;
    top: 30px;
}


.body{
    height: 100vh;
}

.poster{
    background-color: burlywood;
    height: 8vh;
    width: 45vw;
    /* margin: auto; */
    position: relative;
    top: 70px;
    margin-top: 15px;
    padding: 6px;
    margin: 40px auto;
}

.f-h{
    position: absolute;
}

#y-posts{
    position: relative;
    top: 72px;
    text-align: center;
}

#btn-post{
    position: relative;
    display: flex;
    left: 99px;
    background-color: #bbc1bb;
    color: black;
    width: 50px;
    padding: 3px 10px;
}

#btn-post:hover{
    background-color: black;
    color: white;
}

.t-area{
    padding: 8px;
}
 
#s-c a{
     color: rgb(255, 255, 255);
    background-color: black;
    padding: 3px;
    position: relative;
    top: 8px;
} 


 .h-comment{
    padding: 6px;
} 