#home-h{
    height: 86vh;
    width: 100vw;
}

#home-h h1 {
    position: relative;
    top: 10px;
    color: black;
}

#feed-posts {
    position: relative;
    top: 50px;
}

#new-post-form{
    position: relative;
    top: 8px;
}