body{
    background-color: aqua;
}

.profile{
    height: 83vh;
}

.profile h1 {
    position: relative;
    top: 23px;
}

.profile p{
    position: relative;
    top: 50px;
    font-weight: bold;
} 